@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-950 min-h-screen h-full;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(100%) sepia(62%) saturate(2%) hue-rotate(99deg)
    brightness(114%) contrast(100%);
}
input[type="color"] {
  -webkit-appearance: none;
  padding: 0;
  border: none;
  border-radius: 10px;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 10px;
  padding: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 10px;
  padding: 0;
}
